body {
    margin: 0;

    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.4;
    color: rgb(62, 62, 62);

    /* background: rgb(171,186,171); */
    /* background: linear-gradient(126deg, rgba(171,186,171,1) 0%, rgba(255,255,255,1) 100%); */

    /* background: rgb(241,242,181); */
    background: linear-gradient(126deg, rgba(241,242,181,1) 0%, rgba(19,80,88,1) 100%);

    /* background: rgb(194,229,156); */
    /* background: linear-gradient(126deg, rgba(194,229,156,1) 0%, rgba(100,179,244,1) 100%); */

    /* background: rgb(253,116,108); */
    /* background: linear-gradient(126deg, rgba(253,116,108,1) 0%, rgba(255,144,104,1) 100%); */

    /* background: rgb(240,235,213); */
    /* background: linear-gradient(126deg, rgba(240,235,213,1) 17%, rgba(143,188,143,1) 100%); */

    /* background: rgb(75,121,161); */
    /* background: linear-gradient(126deg, rgba(75,121,161,1) 14%, rgba(0,0,0,1) 100%); */

    /* background: rgb(255,249,238); */
    /* background: linear-gradient(126deg, rgba(255,249,238,1) 14%, rgba(237,178,49,1) 100%); */

    /* background-image:  url();
    background-size: 10%;
    background-repeat: repeat;
    background-color: transparent; */


    background-color: rgb(255, 254, 218);
    background-image: url(assets/duck-svg.svg);
    background-size: 220px 220px;

    animation: 5s linear 0s infinite normal none running moveBackground;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

p {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
.container {
    width: 100vw;
    min-height: 100vh;
    padding: 50px;

    display: flex;
}

/* ------------- Slider -------------------- */

.slider {
    width: 100%;
    max-width: 1100px;
    /* max-width: calc(); */
    /* max-height: 600px; */
    height: 100%;
    margin: auto;


    background-color: rgba(255, 254, 251, 0.89);
    box-shadow: 5px 5px 16px 2px rgba(34, 60, 80, 0.2);
    border-radius: 20px 20px 20px 20px;
    
    overflow: hidden;

    transition: 0.3s linear;
}

.slider:hover {
    background-color: rgb(255, 254, 251);
}

.slider__inner-wrap  {
    width: 100%;
    height: 100%;

    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px 0;
    /* align-items: center; */

    overflow: hidden;
}

.slider__inner {
    /* display: flex; */
    width: 100%;
    height: 85%;
}

/* ------------- Slider img -------------------- */

.slides {
    width: 400%;
    /* height: 85%; */
    height: 100%;
    max-height: 600px;

    display: flex;
    flex-direction: row;
}

.slide {
    width: 25%;

    /* border-radius: 20px 20px 20px 20px; */
    border-radius: 20px 20px 0 0;
    overflow: hidden;

    transition: 0.3s linear;
}

.slide__img {
    width: 100%;
    height: 100%;

    object-fit: fill;
}

/* ------------- Slider content&texts -------------------- */

.slider-texts {
    width: 70%;
    min-height: 100px;

    overflow: hidden;
}

.slider-texts__items{
    width: 400%;
    height: 100%;

    display: flex;
    flex-direction: row;
}

.slider-texts__slide {
    width: 25%;
    /* height: 10%; */
}

.slider-texts__text {
    /* width: 70%; */
    width: 100%;
    height: 100%;
    padding: 5px 10px 10px 10px;
    /* padding-left: 10px; */
    /* flex: 1; */
}

/* ------------- Slider controls -------------------- */

.slider-controls {
    width: 30%;
}

.slider-controls__inner {
    width: 100%;
    max-width: 150px;
    height: auto;
    margin-left: auto;

    /* flex: 1; */
}

.slider-controls__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.slider-controls__item {
    width: 100%;
    height: 100%;
    padding: 10px;

    display: flex;
    justify-content: center;

    cursor: pointer;
}

.bullet {
    /* width: 30px;
    height: 30px; */
    width: 15px;
    height: 15px;

    display: inline-block;

    border: rgb(219, 180, 14) 2px solid;
    background-color: #ffca08;
    border-radius: 50%;
    box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1), 2px 2px 10px rgba(0, 0, 0, 0.4);
    opacity: 0.7;

    cursor: pointer;
    transition: 0.3s linear;
}

.bullet:hover {
    background-color: rgb(199, 199, 193);
    border-color: rgb(182, 182, 171);

    transform: scale(1.2);

    /* opacity: 1; */
    /* filter: grayscale(0.2); */
}


/* ------------- Slider effects -------------------- */

.radio-item {
    display: none;
}

.slide_shift {
    transition: 0.3s linear;
}

#radio1:checked ~ .slider__inner > .slides > .slide_shift,
#radio1:checked ~ .slider-texts > .slider-texts__items > .slide_shift {
    margin-left: 0%;
}

#radio2:checked ~ .slider__inner > .slides > .slide_shift,
#radio2:checked ~ .slider-texts > .slider-texts__items > .slide_shift {
    margin-left: -25%;
}

#radio3:checked ~ .slider__inner > .slides > .slide_shift,
#radio3:checked ~ .slider-texts > .slider-texts__items > .slide_shift {
    margin-left: -50%;
}

#radio4:checked ~ .slider__inner > .slides > .slide_shift,
#radio4:checked ~ .slider-texts > .slider-texts__items > .slide_shift {
    margin-left: -75%;
}

#radio1:checked ~ .slider-controls > .slider-controls__inner > .slider-controls__list > .slider-controls__item:nth-child(1) > .bullet,
#radio2:checked ~ .slider-controls > .slider-controls__inner > .slider-controls__list > .slider-controls__item:nth-child(2) > .bullet,
#radio3:checked ~ .slider-controls > .slider-controls__inner > .slider-controls__list > .slider-controls__item:nth-child(3) > .bullet,
#radio4:checked ~ .slider-controls > .slider-controls__inner > .slider-controls__list > .slider-controls__item:nth-child(4) > .bullet {
    background: none;
}

/* ------------- Media  -------------------- */

@media (max-width: 768px) {

    .container {
        padding: 15px 20px;
    }

    .slider__inner-wrap  {
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 20px 0;
    }

    .slider__inner {
        height: 50%;
    }

    .slider__image {
        height: 50%;
        /* min-height: auto; */
    
        order: 1;
    }

    .slider-texts {
        width: 100%;
        height: 40%;

        order: 3;
    }

    .slider-controls {
        width: 100%;

        align-self: center;
        order: 2;
    }

    .slider-controls__inner {
        margin: 0 auto;
    }
}

/* ------------- Keyframes  -------------------- */

@keyframes  moveBackground {
    100% {
        background-position: 220px 220px;
    }
}